<h1>Most visited web site list</h1>

 <div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title">
            Filter by date
        </h1>
    </div>
    
 <div> 
  <label>Date:
    <input type="text" name="input" ng-model="visitdate"
           ng-pattern="example.word" required ng-trim="false">
  </label>
</div>
  
<a ng-href='#here' ng-click='go()' >Submit</a></div>

<ul class="list-group">
    <li class="list-group-item" ng-repeat="site in sites | filter: filterText">
        <span class="label label-default">
            {{site.visitdate}}
        </span>
        &nbsp;
        {{site.name}}
          &nbsp;
         <span class="label label-default">  
        {{site.number}}
        </span>
    </li>
</ul>